<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sm_topcell_icon</key>
	<string>ic_launcher</string>
	<key>sm_topcell_title</key>
	<string>เลขเด็ดงวดนี้</string>
	<key>sm_cells</key>
	<array>
		<dict>
			<key>icon</key>
			<string>ic_widgets</string>
			<key>title</key>
			<string>เลขเด็ดแผงดัง</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>ic_clip</string>
			<key>title</key>
			<string>คลิบหวย</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>ic_search</string>
			<key>title</key>
			<string>สุ่มเลขเด็ด</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>ic_vote</string>
			<key>title</key>
			<string>โหวดเลข</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>ic_stat</string>
			<key>title</key>
			<string>สถิติหวย</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>ic_stat</string>
			<key>title</key>
			<string>สถิติหวย</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>ic_assignment</string>
			<key>title</key>
			<string>ตรวจผลสลาก</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>ic_dream</string>
			<key>title</key>
			<string>ทำนายฝัน</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>ic_view_list_black</string>
			<key>title</key>
			<string>เลขเด็ดอาจารย์ดัง</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>ic_shopping_cart</string>
			<key>title</key>
			<string>รายการสั่งซื้อ</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>ic_touch_app</string>
			<key>title</key>
			<string>ขูดหวย</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>ic_more</string>
			<key>title</key>
			<string>เซียมซี</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>ic_setting</string>
			<key>title</key>
			<string>ตั้งค่า</string>
		</dict>
	</array>
</dict>
</plist>
